body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 40px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #ff0055;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ff3366;
}

p {
    color: red;
}

/* Ajoutez ce style à styles.css */
.navigation-buttons {
    display: flex;
    justify-content: space-between; /* Espace égal entre les boutons */
    flex-direction: row;
}

.navigation-buttons button {
    flex: 1; /* Chaque bouton prend une largeur égale */
    margin: 0 10px; /* Espacement horizontal entre les boutons */
    background-color: #ff0055; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte des boutons */
    padding: 10px 20px; /* Espacement interne des boutons */
    border: none; /* Supprimer les bordures */
    border-radius: 5px; /* Bordures arrondies */
    cursor: pointer; /* Curseur pointeur sur les boutons */
}

.navigation-buttons button:hover {
    background-color: #ff3366; /* Couleur de fond au survol */
}

